<nav class="navbar navbar-dark bg-primary">
  <a class="navbar-brand">Vote System</a>
</nav>

<div class="container p-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card">
        <h3 class="card-header">Agrega una nueva votación</h3>
        <form class="card-body">
          <label for="title">Título</label>
          <input type="text" name="title" #title class="form-control" autofocus>
          <label for="description">Descripción:</label>
          <input type="description" name="description" #description class="form-control">
          <button (click)="addLink(title, description)" class="btn btn-primary btn-block mt-4">
            Añadir Votación
          </button>
        </form>
      </div>
    </div>
  </div>
  <div>
    <app-propuestas *ngFor="let propuestas of propuestas"
    [propuestas]="propuestas">
    </app-propuestas>
  </div>
</div>
