<div class="col-md-8 offset-md-2">
  <div class="card text-center mt-2">
    <div class="card-header">
      <a>
        <label>Título: {{ propuestas.title}}</label>
      </a><br>
      <a>
        <label>Descripción: {{ propuestas.description}}</label>
      </a>
    </div>
    <div class="card-body">
      Votos:
      <h3 class="display-4">{{propuestas.votes}}</h3>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" (click)="propuestas.voteUp()">
        Up
      </button>
      <button class="btn btn-danger" (click)="propuestas.voteDown()">
        Down
      </button>
    </div>

  </div>
</div>
